<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TP_Final.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <TP_Final.Properties.Settings>
            <setting name="Main_Form_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Player_Form_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Team_Form_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="DGV_Column_Width" serializeAs="String">
                <value>,</value>
            </setting>
            <setting name="EvenRowColor" serializeAs="String">
                <value>LightGreen</value>
            </setting>
            <setting name="OddRowColor" serializeAs="String">
                <value>LightBlue</value>
            </setting>
            <setting name="DGV_Row_Headers_Width" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Main_Form_Size" serializeAs="String">
                <value>1200, 700</value>
            </setting>
            <setting name="DGV_Font" serializeAs="String">
                <value>Microsoft Sans Serif, 9.75pt</value>
            </setting>
            <setting name="Team_Form_Size" serializeAs="String">
                <value>1200, 700</value>
            </setting>
            <setting name="DGV_Players_Column_Width" serializeAs="String">
                <value>,</value>
            </setting>
            <setting name="DGV_Players_Row_Headers_Width" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="DGV_Font_Size" serializeAs="String">
                <value>8</value>
            </setting>
        </TP_Final.Properties.Settings>
    </userSettings>
</configuration>